- title @title

- for category in @categories
  %div.section
    = link_to(category.name, category)    
    -if !category.description.blank?
      = " - " + category.description

%p
  -if can? :create, @category
    = link_to "Add a New Category", new_category_path